*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-size: contain;
    font-weight: 400;
    background: linear-gradient(60deg, #637991,  #ffffff,#637991);
}
h1{
    margin: 5px 5px 10px 10px;
    display: flex;
    position: relative;
    justify-content: center;
}

.Huddle-landing-page-with-a-single-introductory-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:50px 100px;
    background-color: transparent;
    gap: 20px;

    p{ 
    margin: 5px 0px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: gray 0px 0px 10px;
    border-left: 20px solid royalblue;
    font: 'Poppins', sans-serif;
    font-size: 20px;}

.link{
    color: white;
    margin: 5px 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 20px 5px;
    background-color: #4169e1;
    border-radius: 15px;
}
}

.Single-price-grid-component{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:50px 100px;
    background-color: transparent;

    p{ 
    margin: 5px 0px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: gray 0px 0px 10px;
    border-left: 20px solid oklch(43.374% 0.16642 12.861);
    font: 'Poppins', sans-serif;
    font-size: 20px;}

.link{
    color: white;
    margin: 5px 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 20px 5px;
    background-color: oklch(43.374% 0.16642 12.861);
    border-radius: 15px;
}
}

.Four-card-feature-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding:50px 100px;
    background-color: transparent;

    p{ 
    margin: 5px 0px;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: gray 0px 0px 10px;
    border-left: 20px solid oklch(45.594% 0.18914 342.25);
    font: 'Poppins', 'sans-serif';
    font-size: 20px;}

.link{
    color: white;
    margin: 5px 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px 20px 5px;
    background-color: oklch(45.594% 0.18914 342.25);
    border-radius: 15px;
}
}

@media (max-width:428px){
    .Huddle-landing-page-with-a-single-introductory-section,.Single-price-grid-component,.Four-card-feature-section{
        padding: 10px;
        gap: 10px;

        & p{
            font-size: 1.2rem;
        }

        & .link{
            text-size-adjust: 1rem;
        }
    }

}

