@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: hsl(300, 24%, 96%);
 font-family:'League-Spartan', 'Poppins', 'Opens-Sans';
 width: 100%;
 height: 100vh;
 margin: 0 auto;
 max-width: 90rem;
 font-size: 15px;
}
.mobile{
    visibility: hidden;
   }

.desktop{
    visibility:visible;
     display: flex;
     flex-direction: column;
}

     .up{
    position: absolute;
    left: 0;
    top: 0;
   }

   .bottom{
    position: absolute;
    right: 0;
    bottom: 0;
   }

   .principal{
    width: 540px;
    color:hsl(300, 43%, 22%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }
   .principal .conteudo{
    margin:20px 20px;
     color:hsl(303, 10%, 53%);
   }
   .principal h1{
    width: 450px;
    font-size: 3.5em;
   }
   .conteudo{
    font-weight: 400;
    font-size: 1.1rem;
    width: 520px;
   }
   main{
     display: grid;
 grid-template-columns:1fr 1fr 1fr 1fr;
 gap: 5px;
 margin-left: 15rem;
   }
   
   footer{
    display: flex;
    flex-direction: row;
    gap: 30px;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
   }
   .cliente-1{
       margin-bottom: 10px;
       background-color: hsl(300, 43%, 22%);
       border-radius: 10px;
       height: 220px;
         width: 340px;
         padding: 10px;
       color: white;
       justify-content: center;
       align-items: center;
        display: grid;
       grid-template-columns:1fr;
    }

     .cliente-2{
       margin-bottom: 10px;
       background-color: hsl(300, 43%, 22%);
       border-radius: 10px;
        height: 220px;
       width: 340px;
       display: grid;
       grid-template-columns: 1fr;
       justify-content: center;
        gap: 5px;
       align-items: center;
       color: white;
    }

    .cliente-3{
        margin-bottom: 10px;
       background-color: hsl(300, 43%, 22%);
       border-radius: 10px;
       height: 220px;
       width: 340px;
        gap: 1px;
      display: grid;
       grid-template-columns: 1fr;
       justify-content: center;
       align-items: center;
       color: white;
    }
    
    .Colton, .Anne, .Irene{
        border-radius: 50%;
        height: 50px;
        margin: 15px;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }
    .person{
        display: flex;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }
     .text{
        margin:2px;
        font-size:1rem;
        padding:20px;
        width: 350px;
        line-height: 20px;
        letter-spacing: 0px;
     }
   

   h3{
    color: hsl(333, 46%, 50%);
    font-weight: 400;
     font-size: 1.2rem;
   }

    .notas{
    display: flex;
    gap: 20px;
    flex-direction: column;
    grid-template-columns: 1fr 2fr 5fr;
    grid-template-rows: 3fr;
    margin-top: 30px;
    margin-bottom: 30px;
    }

   .nota-1 img{
       position: relative;
       right: 10px;
       height: 20px;
    }

    .nota-1{
        background-color: hsl(300, 28%, 91%);
        padding: 10px 25px;
        color: hsl(300, 43%, 22%);
        font-weight: 600;
        border-radius: 5px;
        height: 55px;
        display: flex;
    }
     .nota-1 p{
        width: 200px;
         text-align: center;
        font-size: 1rem;
        position: relative;
        left: 15px;
     }

    .nota-2 img{
       position: relative;
       right: 10px;
       height: 20px;
    }

    .nota-2{
        width: 400px;
         display: flex;
        background-color: hsl(300, 28%, 91%);
        padding: 10px 35px;
        color: hsl(300, 43%, 22%);
        border-radius: 5px;
        font-weight: 600;
        height: 55px;
    }

    .nota-2 p{
        width: 200px;
         text-align: center;
        font-size: 1rem;
        position: relative;
        left: 15px;
     }

    .nota-3 img{
       position: relative;
       right: 10px;
       height: 20px;
    }

    .nota-3{
        display: flex;
        background-color: hsl(300, 28%, 91%);
        width: 400px;
        padding: 10px 35px;
        color: hsl(300, 43%, 22%);
        font-weight: 600;
        border-radius: 5px;
        height: 55px;
        display: flex;
    }

    .nota-3 p{
        width: 400px;
         text-align: center;
        font-size: 1rem;
        position: relative;
        left: 15px;
     }
   
   

@media (max-width:23.4375rem) {
   .desktop{
    visibility: hidden;
   }
   .mobile{
    visibility: visible;
   }
   

   .up{
    position: absolute;
    left: 0;
    top: 0;
   }

   .bottom{
    position: absolute;
    right: 0;
    bottom: 0;
   }

   main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

     .principal h1{
        font-weight: 600;
        text-align: center;
        font-size: 1.9rem;
        width: 250px;
        line-height: 25px;
        color:hsl(300, 43%, 22%);
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .principal .conteudo{
        color:hsl(303, 10%, 53%);
        font-weight: 400;
        font-size: 0.8rem;
        text-align: center;
        width: 287px;
    }
    .notas{
        display: flex;
        flex-direction: column;
        gap: 10px;}
    .nota-1 img{
       position: relative;
       left: 40px;
    }

    .nota-1{
        background-color: hsl(300, 28%, 91%);
        padding: 10px 50px;
        color: hsl(300, 43%, 22%);
        font-weight: 600;
        border-radius: 5px;
    }

    .nota-2 img{
       position: relative;
       left: 55px;
    }

    .nota-2{
        background-color: hsl(300, 28%, 91%);
        padding: 10px 40px;
        color: hsl(300, 43%, 22%);
        border-radius: 5px;
        font-weight: 600;
    }

    .nota-3 img{
       position: relative;
       left: 40px;
    }

    .nota-3{
        background-color: hsl(300, 28%, 91%);
        padding: 10px 50px;
        color: hsl(300, 43%, 22%);
        font-weight: 600;
        border-radius: 5px;
    }
}

footer{
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;

    .cliente-1{
       margin-bottom: 10px;
       background-color: hsl(300, 43%, 22%);
       border-radius: 10px;
         width: 300px;
         padding: 10px;
       color: white;
       justify-content: center;
       align-items: center;
        display: grid;
       grid-template-columns:1fr;
    }

     .cliente-2{
       margin-bottom: 10px;
       background-color: hsl(300, 43%, 22%);
       border-radius: 10px;
       width: 300px;
       display: grid;
       grid-template-columns: 1fr;
       justify-content: center;
        gap: 5px;
       align-items: center;
       color: white;
    }

    .cliente-3{
        margin-bottom: 10px;
       background-color: hsl(300, 43%, 22%);
       border-radius: 10px;
       width: 300px;
        gap: 1px;
      display: grid;
       grid-template-columns: 1fr;
       justify-content: center;
       align-items: center;
       color: white;
    }
    
    .Colton, .Anne, .Irene{
        border-radius: 50%;
        height: 50px;
        margin: 15px;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }
    .person{
        display: flex;
        gap: 1px;
        justify-content: center;
        align-items: center;
    }
     .text{
        padding:20px;
        width: 300px;
        line-height: 20px;
     }
   

   h3{
    color: hsl(333, 46%, 50%);
    font-weight: 400;
     font-size: 1.2rem;
   }
}
}
