@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: Poppins, Opens-sans;
    color: hsl(212, 6%, 44%);
    background-color: hsl(0, 0%, 100%);
    justify-content: center;
    align-items: center;
    font-weight: 400;
    Font-size: 15px;
    max-width:1440px;
    height: 100vh;
}

main{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 2px;
     text-align: center;

    & h1{
        width: 500px;
        font-size: 2.3rem;
        font-weight: 200;
    }
     & span{
        font-weight: 500;
        color: hsl(234, 12%, 34%);
     }
     & p{
        margin-top: 10px;
        width: 500px;
        text-align: center;
     }
}

div{
    position: relative;
    left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    margin-top: 20px;
    align-items: center;
}
a img{
    display: flex;
    position: relative;
    left: 50%;
    height: 60px;
}
.supervisor{

    width: 350px;
    height: 220px;
    border-radius: 5px;
    box-shadow: gray 4px 4px 4px;
    border-top: 4px solid  hsl(180, 62%, 55%);
    grid-column: 1;
    grid-row: 1 / span 2;
    align-items: center;

    & h2{
        color:  hsl(234, 12%, 34%);
        margin: 20px;
    }
    & p{
        width: 300px;
        margin:0px 20px;
    }
}

.team-builder{
    width: 350px;
    height: 220px;
    grid-column: 2;
    grid-row: 1;
    border-radius: 5px;
    box-shadow: gray 4px 4px 4px;
    border-top: 4px solid hsl(0, 78%, 62%);

    & h2{
        color:  hsl(234, 12%, 34%);
        margin: 20px;
    }
    & p{
        width: 300px;
        margin:0px 20px;
    }
}

.karma{
    width: 350px;
    height: 220px;
    grid-column: 2;
    grid-row: 2;
    border-radius: 5px;
    box-shadow: gray 4px 4px 4px;
    border-top: 4px solid hsl(34, 97%, 64%);

    & h2{
        color:  hsl(234, 12%, 34%);
        margin: 20px;
    }
    & p{
         width: 300px;
        margin:0px 20px;
    }
}

.calculator{
    width: 350px;
    height: 220px;
    grid-column: 3;
    grid-row: 1 / span 2;
    align-items: center;
    border-radius: 5px;
    box-shadow: gray 4px 4px 4px;
    border-top: 4px solid hsl(212, 86%, 64%);

    & h2{
        color:  hsl(234, 12%, 34%);
        margin: 20px;
    }
    & p{
         width: 300px;
        margin:0px 20px;
    }
}



@media (max-width:375px){
    body{
        margin: 20px;
        background-color:  hsl(0, 0%, 100%);
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;

        h1{
            color:  hsl(212, 6%, 44%);
            text-align: center;
            font-size: 1.4rem;
          width: 300px;
          font-weight: 400;
          margin: 10px;
        }

        span{
            color: hsl(234, 12%, 34%);
            font-weight: 500;
        }
        p{
            text-align: center;
            width: 300px;
           color:  hsl(234, 12%, 34%);
        }
    }

    div{
        position: relative;
        left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .supervisor{
        background-color:  hsl(0, 0%, 100%);
        border: 10px;
        border-top: 4px solid hsl(180, 62%, 55%);
        box-shadow: gray 4px 4px 4px;
        width: 300px;
        height: 200px;

        & h2{
         color:hsl(234, 12%, 34%) ; 
         font-size: 1.1rem;
          margin:15px 20px;
        }

        p{
          color: hsl(212, 6%, 44%);
          font-size: 1rem;
          width: 350px;
           margin: 0px 15px;
        }
    }


    .team-builder{
        background-color:  hsl(0, 0%, 100%);
        border: 10px;
        border-top: 4px solid hsl(0, 78%, 62%);
        box-shadow:gray 4px 4px 4px;
        width: 300px;
        height: 200px;

        
        & h2{
         color:hsl(234, 12%, 34%) ; 
         font-size: 1.1rem;
          margin:15px 20px;
        }

        p{
          color: hsl(212, 6%, 44%);
          font-weight: 300;
          font-size: 0.9rem;
          margin: 0px 20px;
          width: 250px;
        }
    }

    .karma{
        background-color:  hsl(0, 0%, 100%);
        border: 10px;
        border-top: 4px solid  hsl(34, 97%, 64%);
        box-shadow:gray 4px 4px 4px;
        width: 300px;
        height: 200px;

        
        & h2{
         color:hsl(234, 12%, 34%) ; 
         font-size: 1.1rem;
          margin:15px 20px;
        }

        p{
          color: hsl(212, 6%, 44%);
          font-size: 1rem;
          margin: 0px 20px;
        }
    }

    .calculator{
        background-color:  hsl(0, 0%, 100%);
        border: 10px;
        border-top: 4px solid hsl(212, 86%, 64%);
        box-shadow:gray 4px 4px 4px;
        width: 300px;
        height: 200px;

        
        & h2{
         color:hsl(234, 12%, 34%) ; 
         font-size: 1.1rem;
         margin: 20px;
          margin:15px 20px;
        }

        p{
          color: hsl(212, 6%, 44%);
          font-size: 1rem;
           width: 300px;
           margin: 0px 20px;
        }
    }

     a img{
     display: inline-block;
     position: relative;
     left: 70%;
     top: 10%;
     height: 50px;
    }

}